@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* 
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

.heroImg {
  transform: translateY(-10vh);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.sluzby-foto {
  width: 90%;
}

.footer-menu li {
  transition: all 0.2s linear;
}

.footer-menu li:hover {
  transform: translateY(-1px);
}

.card:first-child {
  margin-left: 0;
}

.card:last-child {
  margin-right: 0;
}
